---
layout: default
title: Home Page
---

<body>  
  <div class="container">
    {% include navbar.html %}
  {% include hero.html title="Welcome to Sweet Project" cta = "About the project" ctaHref = "#aboutProject" %}
  {% include aboutProject.html %}
  {% include teams2.html %}
  {% include workstream.html %}
  {% include HTAndMe.html %}
  {% include News.html %}
  {% include PPI.html %}
    <!-- {% include teams.html %} -->    
    {% include PPIInfo.html %}
    {% include affiliations.html %}
    {% include footer.html %}
    </div>
</body>

