---
layout: default
title: Home Page
---

<body>
  <div class="app-wrapper">
    <!-- prettier-ignore -->

    {% include navbar.html %}

    <main>
      <!-- Hero -->
      <!-- prettier-ignore -->
      {% include hero.html title= site.data.data.heroSection.title cta =
    site.data.data.heroSection.ctaText ctaHref = "workstreams" description =
    site.data.data.heroSection.blurb %}
      <!-- prettier-ignore -->
      {% include programme.html %}
      {% include workstreams.html %}
    
      {% include updates.html %}
      {% include teams.html %}

      {% include HTAndMe.html %}
       
      {% include contact.html %}
      <!-- prettier-ignore -->

      <!-- prettier-ignore -->
    </main>
    <footer>{% include footer.html %}</footer>
  </div>
  <script src="script.js"></script>
</body>
