<div class="container my-5">
  {% include teamsBase.html content="About the project" %}
  <div class="row">
    <div class="col-md-6">
      <img
        src="https://unsplash.com/photos/MQ2UDWKZgIM/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MjB8fGNhbmNlciUyMHJlc2VhcmNofGVufDB8fHx8MTY4MTE4MTE1OQ&force=true"
        alt="Image description"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus
        dolor quis metus finibus, nec dapibus metus lacinia. Integer posuere
        lobortis odio, sed facilisis magna suscipit at. Praesent euismod vitae
        libero et tristique. Fusce placerat urna et nisi iaculis feugiat. Sed
        vitae facilisis lorem. Aenean auctor in lorem eget tempus. Curabitur
        vestibulum euismod nisi, non suscipit leo tempor ac.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus
        dolor quis metus finibus, nec dapibus metus lacinia. Integer posuere
        lobortis odio, sed facilisis magna suscipit at. Praesent euismod vitae
        libero et tristique. Fusce placerat urna et nisi iaculis feugiat. Sed
        vitae facilisis lorem. Aenean auctor in lorem eget tempus. Curabitur
        vestibulum euismod nisi, non suscipit leo tempor ac.
      </p>
    </div>
  </div>
</div>
