<div class="my-container my-5" id="aboutProject">
  <div class="row">
    {% include heading.html content = "About the project" class = "text-center
    my-4" %}

    <div class="col-md-6 relative">
      <img
        src="/assets/images/bed.jpg"
        alt="Image description"
        class="img-fluid rounded-lg opacity-.5"
      />
      <!-- <h2
        class="text-4xl font-md mb-4 bg-primary text-white py-2 pl-3 pr-12 w-max rounded-sm absolute top-8"
      >
        About the project
      </h2> -->
    </div>
    <dq iv class="col-md-6">
      <p class="text-gray-800 text-lg mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus
        dolor quis metus finibus, nec dapibus metus lacinia. Integer posuere
        lobortis odio, sed facilisis magna suscipit at. Praesent euismod vitae
        libero et tristique. Fusce placerat urna et nisi iaculis feugiat. Sed
        vitae facilisis lorem. Aenean auctor in lorem eget tempus. Curabitur
        vestibulum euismod nisi, non suscipit leo tempor ac.
      </p>
      <p class="text-gray-800 text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus
        dolor quis metus finibus, nec dapibus metus lacinia. Integer posuere
        lobortis odio, sed facilisis magna suscipit at. Praesent euismod vitae
        libero et tristique. Fusce placerat urna et nisi iaculis feugiat. Sed
        vitae facilisis lorem. Aenean auctor in lorem eget tempus. Curabitur
        vestibulum euismod nisi, non suscipit leo tempor ac.
      </p>
    </dq>
  </div>
</div>
