<!-- <div class="bg-primary text-white pl-16 pb-8 pt-4">
  <img src="/assets//images/logo1.png" class="brand-img" />
  <div>Contact Us : +4939394848</div>
  <div>Email : example@gmail.com</div>
</div> -->

<footer
  class="bg-primary text-white px-16 py-8 lg:flex lg:flex-col lg:justify-center lg:items-center"
>  
  <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:w-2/3">
    <img src="/assets/images/logo1.png" alt="Brand logo" class="brand-img" />
    <div class="lg:w-1/3 mb-4 lg:mb-0">
      <h4 class="text-lg font-bold mb-2">Column 1</h4>
      <ul class="list-disc list-inside">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>       
    <div class="hidden lg:block">
      Contact Us : +4939394848 | Email : example@gmail.com
    </div>
  </div>
  
</footer>
