<!-- <div class="bg-primary text-white pl-16 pb-8 pt-4">
  <img src="/assets//images/logo1.png" class="brand-img" />
  <div>Contact Us : +4939394848</div>
  <div>Email : example@gmail.com</div>
</div> -->

<footer
  class="bg-primary text-white px-16 py-8 lg:flex lg:flex-col lg:justify-center lg:items-center"
>  
  <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:w-2/3">
    <div class="lg:w-1/3">
    <img src="/assets/images/logo1.png" alt="Brand logo" class="brand-img" />
  </div>
    <div class="lg:w-1/3 mb-4 lg:mb-0">
      <h4 class="text-xl mb-2 font-medium">Column 1</h4>
      <ul class="list-desc list-inside">
        <li><a href="#">About the Project</a></li>
        <li><a href="#">News and Events</a></li>
        <li><a href="#">Workstreams</a></li>
      </ul>
    </div>       
    <div class="lg:w-1/3 lg:block">
      <p class="text-xl mb-2 font-medium">Contact Us</p>
      <p>Phone : +4939394848</p>
      <p>Email : example@gmail.com</p>
    </div>
  </div>  
</footer>
