<div class="bg-secondary text-white w-full mt-24">
  <!-- Top Section with Flexbox -->
  <div
    class="flex flex-col justify-between md:flex-row pt-6 px-8 lg:px-24 mx-0"
  >
    <!-- Sweet Section -->
    <div class="md:w-6/12 md:pr-12 flex flex-col items-start">
      <a
        href="/"
        aria-label="Go home"
        title="Company"
        class="inline-flex items-center"
      >
        <span class="text-xl font-bold tracking-wide uppercase">SWEET</span>
      </a>
      <div class="mt-2">
        <p class="text-lg">
          The SWEET research programme is funded by the National Institute for
          Health Research (NIHR) under the Programme Grants for Applied Research
          programme [NIHR200098].
        </p>
      </div>
    </div>

    <!-- Contacts Section -->
    <div class="w-6/12 lg:pl-24">
      <p class="text-xl font-bold tracking-wide">Contacts</p>
      <div class="flex mt-2 text-lg">
        <p class="mr-1">Phone:</p>
        <a
          href="tel:850-123-5021"
          class="text-deep-purple-accent-400 hover:text-deep-purple-800 hover:underline"
          >850-123-5021</a
        >
      </div>
      <div class="flex mt-2 text-lg">
        <p class="mr-1">Email:</p>
        <a
          href="mailto:sweetstudy@newcastle.ac.uk"
          class="text-deep-purple-accent-400 hover:text-deep-purple-800 hover:underline"
          >sweetstudy@newcastle.ac.uk</a
        >
      </div>
    </div>
  </div>

  <!-- Partner Images Section with CSS Grid -->
  <div class="pt-8 rounded-lg w-full">
    <div
      class="flex bg-white justify-center items-center flex-wrap mx-auto py-2"
    >
      <!-- Partner images loop -->
      {% for img in site.data.data.partners %}
      <img
        src="{{ img.logoSrc }}"
        alt="Affiliation logo"
        class="h-16 w-auto mx-auto my-2 rounded md:h-12 lg:h-16"
      />
      {% endfor %}
    </div>
  </div>
</div>
