<!-- <div>
  <div
    class="bg-center bg-cover w-full h-screen"
    style="
      background-image: url(https://unsplash.com/photos/9UVmlIb0wJU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8Nnx8d29tZW58ZW58MHx8fHwxNjgwNzg3Mzc4&force=true);
    "
  >
    <div
      class="flex justify-center w-full h-full bg-purple-800 bg-opacity-70 py-12"
    >
      <h2 class="text-5xl text-white text-bold">
        Welcome to the sweet project
      </h2>
    </div>
  </div>
</div> -->

<div class="container relative h-screen">
  <div
    class="absolute inset-0 bg-center bg-cover z-0"
    style="
      background-image: url(https://unsplash.com/photos/9UVmlIb0wJU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8Nnx8d29tZW58ZW58MHx8fHwxNjgwNzg3Mzc4&force=true);
    "
  ></div>
  <div
    class="absolute inset-0 bg-purple-900 bg-opacity-70 z-10 flex flex-col items-center justify-center gap-8"
  >
    <h2 class="text-5xl text-white font-bold text-center px-6">
      Welcome to the Sweet Project
    </h2>
    <a
      class="btn bg-purple-500 text-white font-bold text-xl px-4 py-3"
      href="#about"
    >
      Learn more about the project
    </a>
  </div>
</div>
