<div class="relative border-y shadow-sm mt-[113px]">
  <div class="max-w-screen">
    <div class="relative z-0 bg-gradient">
      <div
        class="relative z-0 w-full h-full bg-transparent px-6 py-12 lg:py-32 sm:py-40 lg:px-8 lg:py-56 2xl:pl-[10rem]"
      >
        <div class="space-y-6 mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
          <h1
            class="text-3xl lg:text-4xl font-bold tracking-tight text-white sm:text-6xl"
          >
            {{ include.title }}
          </h1>
          <p
            class="text-base lg:text-xl text-white leading-8 text-paragraph wrap max-w-[80%]"
          >
            {{ include.description }}
          </p>
          <div class="flex items-center gap-x-6">
            <a href="{{ include.ctaHref }}" class="btn">{{ include.cta }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-gray-50 z-100 lg-max-w-50% polygon lg:absolute lg:inset-y-0 lg:right-0 lg:w-7/12"
  >
    <img
      class="hero-image aspect-[3/2] object-cover bg-left-top lg:aspect-auto lg:h-full lg:w-full"
      src="{{site.baseurl}}/assets/images/hero1.png"
      alt=""
    />
  </div>
</div>
