<div class="hero-section border-b-2 border-black h-screen mb-20">
  <!-- Image Section -->
  <div class="image-section w-full">
    {% if include.page=="workstreams" %}
    <div
      class="h-full bg-cover bg-center"
      style="background-image: url({{site.baseurl}}/assets/images/workstreams.jpg)"
    ></div>
    {% else %}
    <div
      class="hero h-full bg-cover border-y-2 border-purple-800"
      style="background-image: url({{site.baseurl}}/assets/images/hero1.png)"
    ></div>
    {% endif %}
  </div>

  <!-- Information Section -->
  <div
    class="info-section overflow-auto items-center mx-4 md:mx-12 lg:mx-[25rem] bg-white flex flex-col"
  >
    <h2 class="mt-8 text-6xl md:text-[6.5rem] text-primary font-bold mb-2">
      {{ include.title }}
    </h2>

    <div class="p-6 flex flex-col items-center space-y-6 h-auto">
      <p
        class="text-xl mx-[20rem] text-center md:text-2xl lg:text-3xl mb-4"
        style="word-wrap: break-word; overflow-wrap: break-word"
      >
        {{ include.description }}
      </p>
      <a class="btn" href="{{ include.ctaHref }}"> {{ include.cta }} </a>
    </div>
  </div>
</div>
