<section class="bg-gray-100 py-12 mb-4 my-container">
  <div class="mx-auto px-4">    
    {% include heading.html content = "HT&amp;Me Intervention" %}
    <div class="max-w-full overflow-hidden">
      <img
        src="/assets/images/hero1.png"
        class="rounded-lg"
        alt="HT&amp;Me Intervention Image"
        style="height: 300px; width: 100%; object-fit: cover"
      />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
      <div class="bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-lg font-bold mb-2">Element 1</h3>
        <p class="text-gray-700">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in quam in
          lectus commodo aliquam vel sit amet neque.
        </p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-lg font-bold mb-2">Element 2</h3>
        <p class="text-gray-700">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in quam in
          lectus commodo aliquam vel sit amet neque.
        </p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-lg font-bold mb-2">Element 3</h3>
        <p class="text-gray-700">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in quam in
          lectus commodo aliquam vel sit amet neque.
        </p>
      </div>
    </div>
    
    <div class="mt-12">    
      <p class="text-styles text-2xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde corrupti
        ratione rerum necessitatibus similique, quod, animi numquam possimus
        perspiciatis nesciunt dolorem at magnam? Ipsam veritatis impedit amet
        nostrum ab totam nulla, laudantium tempore commodi magnam cupiditate
        fugit excepturi a quas. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Cumque quam ut asperiores, pariatur laboriosam
        mollitia officiis architecto incidunt animi minus.
      
      </p>
      <div class="mt-8 text-center">
        <a
        href="#"
        class="inline-block bg-primary text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-secondary transition-colors duration-300"
        >Visit HT&amp;Me Webapp</a
      >  
      </div>
    </div>
  </div>
</section>
