<div class="section my-container imgAndDesc">
  <div class="flex justify-between gap-10 lg:gap-40 mb-20">
    <!-- prettier-ignore -->
    <img src={{ site.data.data.workstream.img }} class="rounded-full" />
    <div class="flex flex-end flex-col">
      {% include heading.html content = "Lorem ipsuur adipisicing" %}
      <p class="mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        exercitationem maxime tenetur nulla laboriosam magnam id quo nihil
        officia quos!
      </p>
      <a class="text-primary text-lg tracking-light">Get involved now</a>
    </div>
  </div>
  <div class="flex justify-between gap-10 lg:gap-40 flex-row-reverse">
    <!-- prettier-ignore -->
    <img
      src={{ site.data.data.workstream.img2 }}
      alt="..."
      class="rounded-full"
    />
    <div>
      {% include heading.html content = "Lorem ipsuur adipisicing elit. Re" %}
      <p class="mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        exercitationem maxime tenetur nulla laboriosam magnam id quo nihil
        officia quos!
      </p>
      <a class="text-primary text-lg tracking-light">Get involved now</a>
    </div>
  </div>
</div>
