<header>
  <nav class="container navbar px-16 sticky top-0">
    <a class="nav-item" href="/">
      <img src="{{site.baseurl}}/assets/images/logo1.png" class="brand-img" />
    </a>
    <div>
      <a href="#aboutProject" class="btn font-medium">About the project</a>
    </div>
    <div><a href="#team" class="btn font-medium">Meet the team!</a></div>
    <a
      href="#"
      class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 hover:text-white hover:bg-blue-500 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent font-medium"
      >News and Events</a
    >
    <div></div>

    <div></div>
    <!-- <div class="dropdown nav-item">
      <button
        class="btn bg-primary text-white font-bold dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        id="dropdownMenuButton"
      >
        Workstreams
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div> -->
    <a href="/workstreams" class="btn bg-primary text-white font-bold"
      >Workstreams</a
    >
    >
  </nav>
</header>
