<header class="w-screen fixed bg-white top-0 z-[100]">
  <nav
    class="navbar px-4 border-b bg-white flex justify-between navbar-light navbar-expand-lg"
  >
    <a class="nav-item flex flex-row items-center" href="/">
      <img
        src="{{site.baseurl}}/assets/images/cropped-logo.png"
        class="brand-img w-28 h-28 p-2"
      />
      <h1 class="text-4xl ml-4 text-primary font-bold tracking-wide uppercase">
        SWEET
      </h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="flex text-2xl items-center justify-between gap-6 hidden md:flex"
    >
      <a href="/#programme" class="nav-link">Programme</a>
      <a href="/#team" class="nav-link">Team</a>
      <a href="/#updates" class="nav-link">Updates</a>
      <a href="/#htandme" class="nav-link">HT&Me</a>
      <a href="/#contact" class="nav-link">Contact</a>
    </div>
  </nav>
  <!-- <div class="px-4">
  <a class="nav-link btn max-content">About the project</a>
</div> -->
</header>
