<div class="my-container mb-32">
  <div class="text-center">{% include heading.html content="HT&Me" %}</div>

  <div class="mx-auto bg-gray-50 py-20 rounded-md">
    <div class="w-[80%] mx-auto">
      <div class="border-t-2 border-gray-200 py-6">
        <h2 class="text-2xl font-semibold mb-2">August 2023</h2>
        <h3 class="text-xl font-semibold mb-3">
          <a
            href="https://www.sciencedirect.com/science/article/pii/S0960977623005039"
            class="text-black hover:underline"
            >Development of the HT&Me intervention to support women with breast
            cancer to adhere to adjuvant endocrine therapy and improve quality
            of life.</a
          >
        </h3>
        <p class="text-gray-700 mb-2">
          Breast cancer is the most common cancer in women worldwide.
          Approximately 80% of breast cancers are oestrogen receptor positive
          (ER+). Patients treated surgically are usually recommended adjuvant
          endocrine therapy (AET) for 5–10 years. AET significantly reduces
          recurrence, but up to 50% of women do not take it as prescribed.
        </p>
        <a href="#link-to-article" class="text-primary hover:underline"
          >Read the full article</a
        >
      </div>

      <div class="border-t-2 border-gray-200 py-6">
        <h2 class="text-2xl font-semibold mb-2">May 28, 2023</h2>
        <h3 class="text-xl font-semibold">
          <a href="#link-to-article" class="text-black hover:underline"
            >Informing interventions to improve uptake of adjuvant endocrine
            therapy in women with breast cancer: a theoretical-based examination
            of modifiable influences on non-adherence</a
          >
        </h3>
        <p class="text-gray-700 mb-2">
          This is a description of the news event or publication. It provides a
          brief overview of the content.
        </p>
        <a
          href="https://pubmed.ncbi.nlm.nih.gov/36869943/"
          class="text-primary hover:underline"
          >Read the full article</a
        >
      </div>
    </div>
  </div>
  <!-- More news events or publications can be added in the same format here -->
</div>
