<div class="flex justify-center">
  <div class="mb-32 border-t-2 w-1/4" id="programme"></div>
</div>
<section class="mb-32">
  <div class="my-container">
    <div class="flex flex-row justify-center">
      {% include heading.html content = "Programme" id = "workstreams" %}
    </div>
    <!-- Centered content using width and margin -->

    <!-- Container for introduction text -->
    <div class="bg-yellow-50 rounded-md py-20">
      <div class="w-[80%] mx-auto">
        <p class="leading-8 text-gray-800 text-lg mb-6 font-semibold">
          The SWEET research programme will develop and investigate the
          effectiveness of a blended intervention (HT&Me) to support adherence
          to hormone therapy and improve quality of life for women with early
          breast cancer.
        </p>
        <div class="paragraph-normal">
          <p class="leading-7 text-gray-800 text-lg mb-2 font-semibold">
            The intervention includes:
          </p>
          <ul class="flex flex-col gap-2 leading-7 text-gray-800 text-xl mb-12">
            <li>
              A short animation video providing information on how hormone
              therapy works, why it is important to take daily, and advice for
              managing side-effects
            </li>
            <li>Two appointments with HT&Me study nurses</li>
            <li>Access to the interactive HT&Me website</li>
            <li>
              Regular text/email messages reminding of the importance of hormone
              therapy and signposting back to the HT&Me website
            </li>
          </ul>
          <div>
            <img src="/assets/images/timeline.png" class="rounded-md" />
            <p class="text-center mt-2 paragraph-normal font-semibold text-xl">
              Timeline
            </p>
          </div>

          <div class="flex justify-center mt-8">
            <!-- prettier-ignore -->
            {% if include.includeCta %} 
            {% include ui/styled-a.html text =
                "Learn more about the programme" href= "/workstreams" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
