
<div class="py-10 bg-gray-100 my-5">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">        
        {%include teamsbase.html content="Meet the team!" %}
      <p class="mt-4 max-w-2xl text-xl text-gray-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, repellat.
      </p>
      <div class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-4">
        <!-- Each card -->
        {% for member in site.data.data.teamMembers %}
        <div class="group relative">
            <div
              class="w-full h-64 rounded-lg overflow-hidden group-hover:opacity-75 transition duration-500 ease-in-out"
            >
              <img
                src= {{ member.imageURL }}
                alt=""
                class="w-full h-full object-center object-cover"
              />
            </div>
            <h3 class="mt-4 text-lg font-medium text-gray-900">{{ member.name }}</h3>
            <p class="text-sm text-gray-500">Researcher</p>
            <p class="mt-2 text-sm text-gray-500 lead text-xl">
              {{ member.blurb }}
            </p>
          </div>          
        {% endfor %}
      </div>
    </div>
  </div>
  