<!-- Need to re-write this code and remove all the <brs> -->

<div class="my-container" id="updates">
  <div class="text-center">{% include heading.html content="Updates" %}</div>

  <div class="bg-yellow-50 p-4 rounded-md paragraph-normal">
    <div class="w-[80%] m-auto">
      <p class="mt-4 font-semibold">
        Keep an eye out on this page for regular updates on the SWEET programme.
      </p>

      <h5
        class="text-xl font-bold tracking-tight text-prmary text-black mt-8 mb-1"
      >
        Trial updates
      </h5>
      <p>Data collection for our Feasibility study is now complete.</p>
      <p>
        We have recruited a total of X women to sub-study 1 investigating the
        acceptability and feasibility of delivering the SWEET intervention
        across our 5 sites: Newcastle-upon-Tyne Hospitals NHS Foundation Trust,
        Oxford University Hospitals NHS Foundation Trust, Imperial College
        Hospital Trust, Gateshead Health NHS Foundation Trust, and Great Western
        Hospitals NHS Foundation Trust.
      </p>
      <p>
        We have also recruited a total of X women to sub-study 2, testing the
        processes for collecting data on the number of prescription encashment
        data.
      </p>

      <h5
        class="text-xl font-bold tracking-tight text-prmary text-black mt-8 mb-1"
      >
        Conferences and meetings
      </h5>
      <ul class="list-disc pl-6 mt-2 flex flex-col gap-4">
        <li>
          <span class="font-semibold">2023:</span>
          International Psycho-oncology Society (IPOS) World Congress of
          Psycho-Oncology
          <br />
          Cancer and Primary Care Research International Network (Ca-PRI)
          Conference
        </li>
        <li>
          <span class="font-semibold">2022:</span>
          Association of Breast Surgery (ABS)
          <br />
          UK Interdisciplinary of Breast Cancer Symposium (UKIBCS)
          <br />
          British Psychological Society (BPS) Division of Health Psychology
          (DHP) Annual Conference
          <br />
          British Psychosocial Oncology Society (BPOS)
          <br />
          UK Society for Behavioural Medicine (UKBSM)
        </li>
        <li>
          <span class="font-semibold">2021:</span>
          UKONS- Virtual Annual Conference
          <br />
          Multinational Association of Supportive Care in Cancer Annual Meeting
          (MASCC)
          <br />
          International Psycho-oncology Society (IPOS) World Congress of
          Psycho-Oncology (Virtual)
          <br />
          Symposium Mammographicum
        </li>
        <li>
          <span class="font-semibold">2020:</span>
          National Cancer Research Institute (NCRI) Conference
          <br />
          UK Interdisciplinary of Breast Cancer Symposium (UKIBCS)
        </li>
      </ul>
    </div>
  </div>
</div>
