<section class="py-16">
  <div class="my-container mb-20">
    <!-- Centered content using width and margin -->

    <!-- <p class="paragraph-normal">The programme currently have 5 workstreams</p> -->
    <!-- prettier-ignore -->
    {% for workstream in site.data.data.workstreams %}
    <div class="flex flex-row justify-center mt-8 mb-4">
      {% include heading.html content= workstream.title id = "workstreams"
      class="mb-0" %}
    </div>
    <div class="bg-yellow-50 rounded-md py-20">
      <!-- prettier-ignore -->
      {% for paragraph in workstream.description %}
      <p class="paragraph-normal mb-4 w-[80%] mx-auto">{{ paragraph }}</p>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
