<!-- The second version of workstream, looks more sleak and the images takes up less space.  -->
<section class="py-16">
  <div class="my-container mb-20">
    <!-- Container for centering h2 -->
    <div class="flex flex-row justify-center">
      {% include heading.html content = "Programme" id = "workstreams" %}
    </div>
    <div class="workstreams-2 flex flex-col gap-12 items-center">
      <!-- Design 1 -->
      <!-- Individual workstream -->
      {% for ws in site.data.data.workstreams %}

      <div
        class="flex flex-col items-center text-center workstream-2 md:flex md:flex-row md:gap-12 animate-fade-in md:w-[60%]"
      >
        <!-- left side -->
        <img
          src="/assets/images/hero1.png"
          class="workstream-2-img w-[250px]"
        />
        <!-- Right side -->
        <div class="mt-4 p-4 text-black rounded-lg">
          <h2 class="text-3xl font-bold mb-8" id="news">{{ ws.name }}</h2>
          <p class="">{{ ws.description }}</p>
        </div>
      </div>

      {% endfor %}
      <!-- Individual workstream -->
      <div
        class="flex flex-col items-center text-center workstream-2 md:flex md:flex-row md:gap-12 animate-fade-in md:w-[60%]"
      >
        <!-- left side -->
        <img
          src="/assets/images/hero1.png"
          class="workstream-2-img w-[250px]"
        />
        <!-- Right side -->
        <div class="mt-4 p-4 text-black rounded-lg">
          <h2 class="text-3xl font-bold mb-8" id="news">
            Intervention development & optimisation
          </h2>
          <p class="">
            Workstream 1 involved the design, development and optimisation of
            the HT&Me intervention. It was developed using an evidence-based and
            theory-informed approach with patient and public involvement (PPI)
            integral to all stages of design and development. We conducted two
            optimisation sub-studies to collect feedback from users. Changes
            were made to improve the HT&Me intervention as a result of these.
            Preliminary data suggests the HT&Me intervention is acceptable and
            engaging to users. Workstream 1 is complete. The diagram below
            provides an overview of the intervention development, design and
            optimisation process.
          </p>
        </div>
      </div>

      <!-- Individual workstream -->
      <div
        class="flex flex-col items-center text-center workstream-2 md:flex md:flex-row md:gap-12 animate-fade-in md:w-[60%]"
      >
        <!-- left side -->
        <img
          src="/assets/images/hero1.png"
          class="workstream-2-img w-[250px]"
        />
        <!-- Right side -->
        <div class="mt-4 p-4 text-black rounded-lg">
          <h2 class="text-3xl font-bold mb-8" id="news">
            Intervention development & optimisation
          </h2>
          <p class="">
            Workstream 1 involved the design, development and optimisation of
            the HT&Me intervention. It was developed using an evidence-based and
            theory-informed approach with patient and public involvement (PPI)
            integral to all stages of design and development. We conducted two
            optimisation sub-studies to collect feedback from users. Changes
            were made to improve the HT&Me intervention as a result of these.
            Preliminary data suggests the HT&Me intervention is acceptable and
            engaging to users. Workstream 1 is complete. The diagram below
            provides an overview of the intervention development, design and
            optimisation process.
          </p>
        </div>
      </div>

      <!-- Individual workstream -->
      <div
        class="flex flex-col items-center text-center workstream-2 md:flex md:flex-row md:gap-12 animate-fade-in md:w-[60%]"
      >
        <!-- left side -->

        <img
          src="/assets/images/hero1.png"
          class="workstream-2-img w-[250px]"
        />

        <!-- Right side -->
        <div class="mt-4 p-4 text-black rounded-lg">
          <h2 class="text-3xl font-bold mb-8" id="news">
            Intervention development & optimisation
          </h2>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga
            sint laudantium veritatis cum? Aspernatur modi odit, quo praesentium
            impedit assumenda veniam sapiente, temporibus ex facere aperiam
            ducimus quis sed.
          </p>
        </div>
      </div>

      <!-- Individual workstream -->
      <div
        class="flex flex-col items-center text-center workstream-2 md:flex md:flex-row md:gap-12 animate-fade-in md:w-[60%]"
      >
        <!-- left side -->

        <img
          src="/assets/images/hero1.png"
          class="workstream-2-img w-[250px]"
        />

        <!-- Right side -->
        <div class="mt-4 p-4 text-black rounded-lg">
          <h2 class="text-3xl font-bold mb-8" id="news">
            Intervention development & optimisation
          </h2>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga
            sint laudantium veritatis cum? Aspernatur modi odit, quo praesentium
            impedit assumenda veniam sapiente, temporibus ex facere aperiam
            ducimus quis sed.
          </p>
        </div>
      </div>

      <!-- Design 2 -->
      <!-- Individual workstream -->
    </div>
  </div>
</section>
