<div class="section">
  {%include teamsbase.html content = "Workstream 1" id = "workstream1" %}
  <img
    src="{{site.data.data.workstream.img}}"
    class="workstream-img mb-4 w-full"
  />
  <p class="workstream-text lead text-2xl mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, impedit
    officiis dolorem doloribus quos consequatur perspiciatis, laudantium
    voluptates quasi minus dolor at adipisci eligendi, illum aperiam unde
    maxime! Sint distinctio excepturi, aliquam at deleniti eveniet, culpa
    ratione dolores nemo inventore dignissimos porro nobis. Temporibus nostrum
    nemo suscipit deserunt amet perferendis?
  </p>
  <p class="lead text-2xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, impedit
    officiis dolorem doloribus quos consequatur perspiciatis, laudantium
    voluptates quasi minus dolor at adipisci eligendi, illum aperiam unde
    maxime! Sint distinctio excepturi, aliquam at deleniti eveniet, culpa
    ratione dolores nemo inventore dignissimos porro nobis. Temporibus nostrum
    nemo suscipit deserunt amet perferendis?
  </p>
</div>
