<div class="my-container">
  <!-- prettier-ignore -->
  <div class="flex flex-row justify-center">
  {% include heading.html content = "Workstreams" id ="workstreams" %}
  </div>
  {% for workstream in site.data.data.workstreams %}

  <div class="section">
    <div class="workstream-container relative">
      {% include teamsBase.html content = workstream.title id = "workstream1"
      class="workstream-heading absolute top-8 z-10 text-2xl font-md mb-4
      bg-transparent text-white py-2 pl-3 pr-12 w-1/2" %}
      <div class="workstream-img-wrapper relative mb-4 rounded-lg">
        <img
          src="{{site.baseurl}}{{ workstream.img }}"
          class="workstream-img w-full rounded-lg"
        />
        <div
          class="workstream-img-overlay absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-black mb-4"
        ></div>
      </div>
      <h2 class="workstream-textmb-4 tracking-tight text-primary">
        {{ workstream.name }}
      </h2>
      {% for item in workstream.description %}
      <p class="text-lg text-gray-800 mb-4">{{ item }}</p>
      {% endfor %} {% if workstream.recruitment_sites %}
      <ul class="list-disc pl-5">
        {% for site in workstream.recruitment_sites %}
        <li class="text-lg text-gray-800 mb-2">{{ site }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>

  {% endfor %}
</div>
