<!-- The second version of workstream, looks more sleak and the images takes up less space.  -->

<section class="py-16">
<div class="my-container mb-20">
    <!-- Container for centering h2 -->
    <div class="w-[60%] m-auto">
        {% include heading.html content = "Workstreams" id = "workstreams" %}
    </div>
  
    <div class="workstreams-2 flex flex-col gap-12 items-center">
        <!-- Design 1 -->
    <!-- Individual workstream -->
        <div class="sm:flex-column sm:justify-center workstream-2 md:flex md:flex-row md:gap-12 animate-fade-in md:w-[60%] ">
        <!-- left side -->        
            <img src = "/assets/images/hero1.png" class="workstream-2-img w-[250px]" />
        

        <!-- Right side -->        
            <div class="mt-4 p-4 text-black rounded-lg"> 
                <h2 class="text-3xl font-bold mb-8 " id="news">Intervention development & optimisation</h2>  
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga sint laudantium veritatis cum? Aspernatur modi odit, quo praesentium impedit assumenda veniam sapiente, temporibus ex facere aperiam ducimus quis sed.</p>
            </div>
        </div>

        <!-- Individual workstream -->
        <div class="workstream-2 flex flex-row gap-12 animate-fade-in w-[60%]">
            <!-- left side -->
                
                <img src = "/assets/images/hero1.png" class="workstream-2-img w-[250px]" />
                
    
            <!-- Right side -->        
                <div class="mt-4 p-4 text-black rounded-lg"> 
                    <h2 class="text-3xl font-bold mb-8 " id="news">Intervention development & optimisation</h2>  
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga sint laudantium veritatis cum? Aspernatur modi odit, quo praesentium impedit assumenda veniam sapiente, temporibus ex facere aperiam ducimus quis sed.</p>
                </div>
            </div>

            <!-- Individual workstream -->
        <div class="workstream-2 flex flex-row gap-12 animate-fade-in w-[60%]">
            <!-- left side -->
                
                <img src = "/assets/images/hero1.png" class="workstream-2-img w-[250px]" />
                
    
            <!-- Right side -->        
                <div class="mt-4 p-4 text-black rounded-lg"> 
                    <h2 class="text-3xl font-bold mb-8 " id="news">Intervention development & optimisation</h2>  
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga sint laudantium veritatis cum? Aspernatur modi odit, quo praesentium impedit assumenda veniam sapiente, temporibus ex facere aperiam ducimus quis sed.</p>
                </div>
            </div>

            <!-- Design 2 -->
        <!-- Individual workstream -->
        <div class="workstream-2 flex flex-row-reverse gap-12 animate-fade-in">
            <!-- left side -->
                <div>
                <img src = "/assets/images/hero1.png" class="workstream-2-img" />
                </div>
    
            <!-- Right side -->        
                <div class="mt-4 bg-gray-200 p-4 text-black rounded-lg shadow-md ">            
                    <h2 class="text-3xl font-bold mb-8" id="news">Intervention development & optimisation</h2>  
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga sint laudantium veritatis cum? Aspernatur modi odit, quo praesentium impedit assumenda veniam sapiente, temporibus ex facere aperiam ducimus quis sed.</p>
                </div>
            </div>

            <!-- Individual workstream -->
        <div class="workstream-2 flex flex-row gap-12 animate-fade-in">
            <!-- left side -->
                <div>
                <img src = "/assets/images/hero1.png" class="workstream-2-img" />
                </div>
    
            <!-- Right side -->        
                <div class="mt-4 bg-gray-200 p-4 text-black rounded-lg shadow-md">            
                    <h2 class="text-3xl font-bold mb-8" id="news">Intervention development & optimisation</h2>  
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga sint laudantium veritatis cum? Aspernatur modi odit, quo praesentium impedit assumenda veniam sapiente, temporibus ex facere aperiam ducimus quis sed.</p>
                </div>
            </div>

    </div>
  </div>
</div>
</section>