html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}

nav {
  transition: background-color 0.5s ease-in-out;
}

li {
  list-style-type: disc;
}

.btn {
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 1.4rem;
  border: 1px solid #633188;
  color: #633188;
  background-color: white;
}

.btn:hover {
  color: white;
  background-color: #633188;
  font-size: 1.42rem;
}

.btn2 {
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 1.4rem;
  border: 1px solid black;
  color: white;
  background-color: #633188;
}

.btn2:hover {
  color: #633188;
  border: 2px solid #633188;
  background-color: white;
  font-size: 1.42rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.text-content {
  flex: 1;
  flex-basis: 30%;
}

.image-container {
  overflow: hidden;
  flex: 1;
  flex-basis: 70%;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .content-container {
    flex-direction: row;
    /* Side by side on larger screens */
  }

  .text-content,
  .image-container {
    flex: 1;
    /* Each takes half of the space */
  }

  .hero-image {
    object-fit: cover;
  }
}

/* Your existing .btn styles */


.paragraph-normal {
  text-decoration-color: #1f2937;
  font-size: 1.125rem;
  /* 18px */
  line-height: 2rem;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.brand-img {
  width: 100px;
  height: 100px;
}

.logo-img {
  height: 150px;
  width: auto;
}

.nav-link {
  color: #633188;
  padding: 1rem;
  font-weight: 500;
}

.nav-link:hover {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  background-color: #633188 !important;
}

.section {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.text-primary {
  color: #633188 !important;
}

.text-secondary {
  color: rgb(255, 222, 240)
}

.text-paragraph {
  color: black;
}

.fill-primary {
  fill: rgb(255, 222, 240) !important;
}

.bg-secondary {
  background-color: #633188 !important;
}

.bg-primary {
  background-color: rgb(255, 222, 240) !important;
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}

/* workstream 1 styles */

.workstream-img {
  height: 400px;
  object-fit: cover;
}

.workstream-text {
  /* width: 80%; */
  /* margin: auto; */
  font-size: 2.25rem;

  line-height: 1.3;
  font-weight: 500;
}

.workstream-container {
  position: relative;
}

.workstream-heading {
  position: absolute;
  z-index: 1;
}

.workstream-img-wrapper {
  overflow: hidden;
}

.workstream-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.8) 100%);
}

/* Workstream 2 styles */

.workstream-2-img {
  height: 250px !important;
  flex: 0 0 250px;
  object-fit: cover;
  border-radius: 50%;
}

.text-styles {
  font-weight: 300;
}

.my-container {
  padding-right: 8rem;
  padding-left: 8rem;
}

.imgAndDesc img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

/* @media (max-width: 768px) {
  .my-container {
    padding-left: 0;
    padding-right: 0;
  }
} */

/* Animation */

.animate-fade-in {
  transition: opacity 0.5s ease-out, transform 1s ease-out;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20vh);
  will-change: opacity, visibility;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    /* transform: translateX(-200%); */
    transform: translateX(0);
  }
}

.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (max-width: 640px) {
  .imgAndDesc img {
    height: 100px;
    width: 100px;
  }

  .my-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1900px) {
  body {
    font-size: 2rem !important;
  }

  .my-container {
    width: 50% !important;
    margin: auto;
  }

  .workstream-img {
    height: 500px;
  }
}