header nav {
}

.brand-img {
  width: 100px;
  height: 100px;
}

.logo-img {
  height: 150px;
  width: auto;
}

.section {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.text-primary {
  color: #633188;
}

.bg-primary {
  background-color: #633188 !important;
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}

.workstream-img {
  height: 300px;
  object-fit: cover;
}

.workstream-text {
  width: 80%;
  margin: auto;
}

.workstream-container {
  position: relative;
}

.workstream-heading {
  position: absolute;
  z-index: 1;
}

.workstream-img-wrapper {
  overflow: hidden;
}

.workstream-img-overlay {
  opacity: 40;
}

.text-styles {
  font-weight: 300;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    /* transform: translateX(-200%); */
    transform: translateX(0);
  }
}
