---
layout: default
title: The SWEET Programme
---
<div class="my-container">

  <div class="section">
    <div>{% include heading.html content="Programme" id="programme" %}</div>
    {% capture programme_content %}{% include_relative sections/programme.md %}{% endcapture %}
      <div class="section-content content">

{% if site.data.images.programme %}
        <img
          src="{{ site.data.images.programme }}"
         
          class="w-full">
{% endif %}

      {{ programme_content | markdownify }}
      

<!--  Workstreams acordion -->
      <div class="hs-accordion-group">

 <!-- for each workstream file -->  {% for stream in site.workstreams %}

        <!-- Block -->
        <div >
          <button onclick="toggleWorkstreamAcc('{{ stream.acc-id }}')" class="justify-between group py-5 px-4  flex  w-full  rounded-t-lg font-medium border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900 text-gray-900 dark:text-white " aria-controls="hs-basic-collapse-one">
            <p class="font-bold text-primary">{{ stream.number }}: {{ stream.title }}</p>
            <!-- plus sign -->
            <svg id="plus-{{ stream.acc-id }}" class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            <!-- minus sign -->
            <svg id="minus-{{ stream.acc-id }}" class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
            </svg>
          
          </button>
          <!-- Accordion content -->
          <div id={{ stream.acc-id }} class="hidden hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-heading-one">

            <p class=" text-gray-800">
              {{ stream.content }}
             
            </p>
          </div>
        </div>

        <!--  end for each workstream file --> {% endfor %}
      
        
      
        
      </div>

    </div>
    </div>
</div>
