---
layout: default
title: The SWEET Programme
---
<div class="my-container">

  <div class="section">
    <div>{% include heading.html content="Programme" id="programme" %}</div>
    {% capture programme_content %}{% include_relative sections/programme.md %}{% endcapture %}
      <div class="section-content content">

{% if site.data.images.programme %}
        <img
          src="{{ site.data.images.programme }}"
         
          class="w-full">
{% endif %}

<p>The SWEET programme has developed and completed feasibility testing of the HT&Me support package. A randomised controlled trial is now underway to trial investigate the effectiveness of HT&Me in reducing poor adherence to hormone therapy and improving quality of life in women with early breast cancer.

The HT&Me support package includes:
</p>
<ul id="progbullets">
<li style="list-style-type: none;"> A short animation video explaining how hormone therapy works, why it is important to take daily, and advice for managing side-effects</li>

<li id="progbullet2" style="list-style-type: none;">Two appointments with HT&Me Study Nurses/Practitioners</li>

<li id="progbullet3" style="list-style-type: none;">Access to the interactive HT&Me website, accessible on a desktop computer, laptop computer, tablet or mobile phone</li>

<li id="progbullet4" style="list-style-type: none;">Regular text or email messages reminding of the importance of hormone therapy and signposting back to the HT&Me website</li>
</ul>
      {{ programme_content | markdownify }}
      

<!--  Workstreams acordion -->
      <div class="hs-accordion-group">

 <!-- for each workstream file -->  {% for stream in site.workstreams %}

        <!-- Block -->
        <div >
          <button onclick="toggleWorkstreamAcc('{{ stream.acc-id }}')" class="grid grid-cols-5 py-5 px-4  w-full  rounded-t-lg font-medium border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900 text-gray-900 dark:text-white " aria-controls="hs-basic-collapse-one">
            <p class="text-left font-bold text-primary col-span-4">{{ stream.number }}: {{ stream.title }}</p>
            <div class="">
            <!-- plus sign -->
            <svg id="plus-{{ stream.acc-id }}" class="float-right hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5v14"></path>
            </svg>
            <!-- minus sign -->
            <svg id="minus-{{ stream.acc-id }}" class="float-right hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
            </svg>
          </div>
          </button>
          <!-- Accordion content -->
          <div id={{ stream.acc-id }} class="hidden hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-heading-one">

            <p class=" text-gray-800">
              {{ stream.content }}
             
            </p>
          </div>
        </div>

        <!--  end for each workstream file --> {% endfor %}
      
        
      
        
      </div>

    </div>
    </div>
</div>
