---
layout: default
title: SWEET recruiting sites
---

<div class="my-container">

  <div class="section">
    <div>{% include headingwithimage.html content="SWEET recruiting sites" id="sites" image="sites.png"%}</div>
    {% capture sites_content %}{% include_relative sections/sites.md %}{% endcapture %}
    
    
    
    <div class="section-content content">
      <div class="flex justify-center">
      <iframe src="https://www.google.com/maps/d/embed?mid=1mhpKKHUdEBq6Kyht9_HOHOCYF-efIeM&ehbc=2E312F" width="640" height="480"></iframe>
    </div>
      
      {% if site.data.images.sites %}
        <img
          src="{{ site.data.images.sites }}"
         
          class="w-full">
{% endif %}
      {{ sites_content | markdownify }}

       <!-- Sites table -->
      <div class="px-4 sm:px-6 lg:px-8 mb-8">
        <div class="mt-8 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8 text-center">
            <ul style="list-style-type:none;" class="columns-2 ">
                 {% assign sites = site.data.sites %}
                  {% for i in sites %}
                    <li style="list-style-type:none;">{{ i.name }}</li>
                  {% endfor %}
            </ul>
           
                   
            </div>
          </div>
        </div>
      </div>
<hr/>
      <div class="relative inline-block text-left mt-4">
        <div>
          <button type="button" onclick="toggleDocsDropdown()"
            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
            id="docs-menu-button" aria-expanded="true" aria-haspopup="true">
            Click here to view SWEET study documents
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </div>

        <div id="docs-dropdown"
          class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu" aria-orientation="vertical" aria-labelledby="menu-button">
          {% for doc in site.data.documents %}

          <div class="py-1" role="none">      
           <a target="_blank" href="/assets/study_documents/{{doc.filename}}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">{{
              doc.name }}</a>
              
            {% endfor %}
          </div>
        </div>

        
       
      </div>
     

      
    </div>

  </div>
</div>
